@page "/"
@implements IAsyncDisposable
@inject IJSRuntime JS
@code {
    private readonly State state = new();
    private IJSObjectReference? module;
    private ElementReference mainElement;
    private bool viewportReady;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Index.razor.js");
            await module.InvokeVoidAsync("subscribe", mainElement, DotNetObjectReference.Create(this));
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (module != null)
        {
            await module.InvokeVoidAsync("unsubscribe");
        }        
    }

    [JSInvokable]
    public void SetDimensions(int width, int height)
    {
        state.Width = width;
        state.Height = height;
        viewportReady = true;
        StateHasChanged();
    }

    private void OnUpdate(TimeSpan elapsed)
    {
        state.Tick(elapsed);
    }
}

<main @ref="mainElement">
    @if (viewportReady)
    {
        <RAF UpdateState="OnUpdate">
            <svg viewBox="0 0 @(state.Width) @(state.Height)" width="@(state.Width)px" height="@(state.Height)px" stroke="black" fill="white">
                <text x="0" y="20" font-size="20" fill="black" stroke="transparent">@(state.Width) x @(state.Height)</text>
                <text x="0" y="@(state.Height-10)" font-size="20" fill="black" stroke="transparent">@(state.Width) x @(state.Height)</text>
                <rect x="@(state.Width / 4)" y="@(state.Height / 4)" width="@(state.Width / 2)" height="@(state.Height / 2)" fill="@(state.Fill)" shape-rendering="crispEdges" />
            </svg>
        </RAF>
    }
</main>